{<<"app">>,<<"tdlib">>}.
{<<"build_tools">>,[<<"mix">>,<<"make">>]}.
{<<"description">>,
 <<"Bindings over Telegram's TDLib, allowing to act as a full-fledged Telegram client.">>}.
{<<"elixir">>,<<"~> 1.5">>}.
{<<"files">>,
 [<<"lib/tdlib">>,<<"lib/tdlib/application.ex">>,<<"lib/tdlib/backend.ex">>,
  <<"lib/tdlib/handler.ex">>,<<"lib/tdlib/method.ex">>,
  <<"lib/tdlib/object.ex">>,<<"lib/tdlib/session.ex">>,
  <<"lib/tdlib/session_registry.ex">>,<<"lib/tdlib.ex">>,
  <<"priv/tdlib-json-cli_v1.1.1+1.tar.gz">>,<<"priv/tdlib_v1.1.1.tar.gz">>,
  <<"priv/disable-lto.patch">>,<<"Makefile">>,<<"mix.exs">>,<<"README.md">>,
  <<"LICENSE">>,<<"CHANGELOG.md">>]}.
{<<"licenses">>,[<<"AGPL-3.0">>,<<"BSL-1.0">>]}.
{<<"links">>,
 [{<<"Sources (gitlab.com)">>,<<"https://gitlab.com/Fnux/elixir-tdlib">>},
  {<<"Telegram TDLib">>,<<"https://core.telegram.org/tdlib">>}]}.
{<<"maintainers">>,[<<"Timothée Floure"/utf8>>]}.
{<<"name">>,<<"tdlib">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"poison">>},
   {<<"name">>,<<"poison">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.1">>}],
  [{<<"app">>,<<"elixir_make">>},
   {<<"name">>,<<"elixir_make">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 0.4">>}]]}.
{<<"version">>,<<"0.0.2">>}.
